<% if @current_user.is_admin? %>

    <h1>Nowy użytkownik</h1>

    <%= render 'form' %>
<%else%>
    <blockquote>
      <p class="text-danger">Nie masz wystarczających uprawnień do podglądu tej strony</p>
    </blockquote>
<%end%>