<% if @current_user.is_admin %>
<h1>Edycja książki</h1>

<%= render 'form_edit' %>

<%= link_to 'Powrót', books_path, :class => "btn btn-primary", :style => "color: #ffffff" %>
<%else%>
<blockquote>
	<p class="text-danger">Nie masz wystarczających uprawnień do podglądu tej strony.</p>
</blockquote>
<% end %>
